/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree ./bootstrap
 */

body {
  overflow-x: hidden;
  padding-top: 0.5%;
}

.category {
  margin: 8px 0;
  padding: 8px 15px;
  border: solid 1px #999;
  width: 300px;
  border-radius: 12px;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, #CCC),
      color-stop(1, #F5F5F5)
  );
  background-image: -moz-linear-gradient(
      center bottom,
      #CCC 0%,
      #F5F5F5 100%
  );
}

.category .content a {
  color: #000;
  text-decoration: none;
}

.category .created_at {
  color: #555;
  font-size: 12px;
  float: right;
}

.category .actions {
  font-size: 12px;
  margin-top: 5px;
}

.category .actions a {
  text-decoration: none;
}

.nested_categories {
  margin-left: 30px;
  margin-left: 1;
}

.courses {
  list-style: none;
  font-weight: bold;
  margin: 0;
  padding: 0;
  > li {
    margin: 20px 0;
    padding: 0;
  }
}

.categories {
  list-style: upper-alpha;
  font-weight: normal;
  margin: 0;
  padding: 0;
  > li {
    margin: 5px 0;
    margin-left: 25px;
  }
}

form > fieldset {
  border: none;
  border: solid 1px #CCC;
  padding: 10px 15px;
  margin: 15px 0;
  fieldset {
    border: none;
    margin: 0;
    margin: 10px 0;
    padding: 0;
  }
}

textarea {
  height: 40px;
  width: 350px;
  margin-top: 3px;
}
